<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itri.uschart">

    <application
        android:allowBackup="true"
        android:icon="@drawable/signal_processing"
        android:label="US Clinical"
        android:roundIcon="@drawable/signal_processing"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name=".Activity.USChartActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

<!--        <activity-->
<!--            android:name=".Activity.M_modeActivity2"-->
<!--            android:screenOrientation="fullSensor">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
<!--                android:resource="@xml/device_filter" />-->
<!--        </activity>-->


    </application>

</manifest>